*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
:root{
    --text-color: #2d3134;
    --bg-color: #faf8ed;
    --main-color: #f66f4d;
    --other-color: #5d5f62;

    --h1-font: 5.3rem;
    --h2-font: 3.6rem;
    --p-font: 1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    background: transparent;
    padding: 30px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease .50s;

}
.logo img{
    width: 100%;
    height: auto;
}
.navlist{
    display: flex;
}
.navlist a{
    margin: 16px 25px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all ease .50s;
}
.navlist a:hover{
    color: var(--main-color);
}
.h-right{
    display: flex;
    align-items: center;
}
.h-btn{
    display: flex;
    padding: 10px 26px;
    font-size: 15px;
    font-weight: 400;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--main-color);
    transition: all ease .50s;

}
.h-btn:hover{
    transform: translateY(-4px);
}
#menu-icon{
    font-size: 38px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 15px;
    display: none;
}
section{
    padding: 70px 15% 60px;
}
.home{
    position: relative;
    height: 95vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1rem;
}
.home-text h1{
    font-family: 'Sen', sans-serif;
    font-size: var(--h1-font);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
}
.home-text p{
    width: 100%;
    max-width: 480px;
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 30px;
    color: var(--other-color);
    margin-bottom: 40px;
}
.btn{
    display: inline-block;
    padding: 13px 38px;
    background: var(--main-color);
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all ease .50s;
}
.btn:hover{
    border: 2px solid #2d3134;
    background: transparent;
    color: var(--other-color);
}
.btn-2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    color: var(--main-color);
    margin-left: 30px;

}
.btn-2 span i{
    height: 50px;
    width: 50px;
    font-size: 19px;
    background-color: var(--main-color);
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid transparent;
    transition: all ease .50s;
}
.btn-2 span i:hover{
    border: 2px solid #2d3134;
    background: transparent;
    color: var(--other-color);
}
.home-img img{
    width: 100%;
    height: auto;
}

header.sticky{
    padding: 15px 15%;
    background: #faf8ed;
    box-shadow: 1px 4px 8px rgb(15 54 55 / 10%);
}
.Categorie-content{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;

}
.row img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform .50s;
}
.row img:hover{
    transform: translateY(-6px);
}
.row h4{
    font-size: 20px;
    font-weight: 500;
}
.about{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    align-items: center;
    gap: 2rem;
}
.about-img img{
    width: 100%;
    height: auto;
}
.about-text span{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.about-text h2{
    font-family: 'Sen', sans-serif;
    font-size: var(--h2-font);
    font-weight: 700;
    margin: 18px 0px;
}
.about-text p{
    width: 100%;
    max-width: 500px;
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 30px;
    color: var(--other-color);
    margin-bottom: 30px;
}
.about-box{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, auto));
     align-items: center;
     gap: 2rem;
}
.box-in{
    padding: 25px 35px;
    background: #fff;
    border-radius: 10px;
}
.main-box h5{
    font-size: 35px;
    font-weight: 700px;
    color: var(--main-color);
    margin-bottom: 7px;
}
.main-box h6{
    font-size: 17px;
    font-weight: 400;
    color: var(--other-color);
    line-height: 1.4;
}
.center-text h2{
    font-family: 'Sen', sans-serif;
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 20px;
}
.center-text p{
    width: 100%;
    max-width: 400px;
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: var(--other-color);
}
.destination-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 3.5rem;
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.box{
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: all ease .50s;
}
.box h3{
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.box h6{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;

}
.box-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.box-text{
    font-size: 20px;
    font-weight: 500;
}
.bxx-btn{
    display: inline-block;
    padding: 8px 20px;
    background: #2d3134;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all ease .50s;
}
.bxx-btn:hover{
    background: transparent;
    border: 1px solid #2d3134;
    color: #2d3134;
}
.box:hover{
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
}
.testinonial{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1rem;
}
.testinonial-img img{
    height: auto;
    width: 100%;
}
.testinonial-text h2{
    font-family: 'Sen', sans-serif;
    font-size: var(--h2-font);
    font-weight: 700;
    margin-bottom: 15px;
}
.tst-in {
    background: #fff;
    padding: 30px 20px;
    border-radius: 20px;
}
.tst-in p{
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 30px;
    color: var(--other-color);
    margin-bottom: 20px;
}
.tst-star{
    margin-bottom: 20px;
}
.tst-star i{
    margin-right: 5px;
    font-size: 25px;
    color:  #ffc14b;
}
.tst-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tst-main h4{
    font-family: 'Sen', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}
.tst-main h6{
    font-size: 17px;
    font-weight: 400;
    color: var(--other-color);
}
.tst-icon i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    font-size: 23px;
    background: var(--text-color);
    border-radius: 50%;
    color: var(--bg-color);
    transition: all ease .50s;
}
.tst-icon i:hover{
    background: var(--main-color);
    color: var(--text-color);
    transform: scale(1.1) rotate3d( 0, 0, 1, 90deg);
    cursor: pointer;
}
.cta-content{
    display: flex;
    background: #ffd482;
    padding: 70px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}
.cta-content h3{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 12px;
}
.cta-content p{
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    margin-bottom: 20px;
}
.cta-content form{
    display: flex;
    width: 100%;
    max-width: 600px;
    align-items: center;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 1rem 0;
}
.input-box{
    display: flex;
    align-items: center;
    gap: 5px;
}
.input-box i{
    color: var(--text-color);
    font-size: 17px;

}
.input-box input{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 500;
    background: transparent;

}
.book-btn{
    font-size: 0.9rem;
    padding: 10px 14px;
    background: var(--text-color);
    color: #fff;
    border-radius: 20px;
    transition: all ease .50s;
}
.book-btn:hover{
    background: var(--main-color);
    transform: scale(1) translateX(3px);
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 15px;
    background:  #fff;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box img{
    margin-bottom: 5px;
}
.footer-box p{
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    margin-bottom: 10px;
    line-height: 30px;
}
.social-link i{
    display: inline-block;
    font-size: 20px;
    color: var(--main-color);
    margin-right: 12px;
    margin-top: 12px;
    transition: all ease .50s;
}
.social-link i:hover{
    transform: translateY(-5px) scale(1.01);
}
.footer-box a{
    font-size: var(--p-font);
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--other-color);
    transition: all ease .50s;
}
.footer-box h3{
    margin-bottom: 22px;
    font-size: 20px;
    font-weight: 600;
}
.footer-box a:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}
.end-content{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background:  #fce8c2;
}
.end-text p{
    font-size: 15px;
}
.end-img img{
    width: 100%;
    height: auto;
}

@media(max-width:1700px){
    header{
        padding: 24px 8%;
    }
    section{
        padding: 80px 8% 50px;
    }
    header.sticky{
        padding: 15px 8%;
    }
    .home-img{
        height: 700px;
        width: 600px;
        object-fit: cover;
        padding-top: 40px;
    }
    .home-img img{
        width: 100%;
    }
    .end-content{
        padding: 18px 8%;
    }
}

@media(max-width:13600px){
    header{
        padding: 20px 5%;
    }
    section{
        padding: 80px 5% 50px;
    }
    header.sticky{
        padding: 13px 5%;
    }
    .home-img{
        height: 650px;
        width: 550px;
    }
    .end-content{
        padding: 15px 5%;
    }
    :root{
        --h1-font: 4.6rem;
        --h2-font: 3rem;
    }
}

@media(max-width:1170px){
    .cta-content form{
        display: grid;
        padding: 25px;
        border-radius: 20px;
        
    }
    .input-box{
        border: 1px solid #f4efe7;
        border-radius: 25px;
        padding-left: 17px;
        box-shadow: 0px 0px 4px  #f5d79f;

    }
    .book-btn{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .home{
        height: 80vh;
    }
    #menu-icon{
        display: block;
    }
    header.sticky{
        background: #fff;
    }
    .navlist{
        position: absolute;
        top: 100%;
        width: 100%;
        height: 400px;
        right: -100%;
        display: flex;
        flex-direction: column;
        background: #faf8ed;
        border-radius: 0px 0px 20px 20px;
        padding: 10px 0;
        box-shadow: 0px 20px 20px rgb(15, 54, 55/ 20%);
        clip-path: circle(144% at 0% 0%);
        transition: all .50s ease-in-out;
    }
    .navlist a{
        display: block;
        padding: 0;
        font-size: 22px;
        font-weight: 600;
    }
    .navlist.open{
        right: 0;
    }
    :root{
        --h1-font: 4rem;
        --h2-font: 2.7rem;
    }
    .home-img{
        height: 600px;
        width: 500px;
    }
}

@media(max-width:1020px){
    .home{
        grid-template-columns: 1fr;
        height: 115vh;
        gap: 0;
    }
    .home-text{
        order: 2;
    }
    .home-img{
        margin: 0 auto;
    }
    .home-text h1{
        width: 100%;
        max-width: 700px;
    }
    :root{
        --h1-font: 3.4rem;
        --h2-font: 2.3rem;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        display: none;
    }
    .testinonial{
        grid-template-columns: 1fr;
    }
}

@media(max-width:580px){
    .home-img{
        height: 490px;
        width: 400px;
    }
    :root{
        --h1-font: 3rem;
        --h2-font: 2.7rem;
    }
}

@media(max-width:460px){
    .home-img{
        width: 370px;
        height: 450px;
    }
}